.body-container{
    display: flex;
    flex-direction: column;
    &__input-container{
        display: flex;
        align-self: flex-end;
        margin-right: 20px;
        &--input {
            height: 30px;
            width: 200px;
        }
        &--logo{
            width: 20px;
            height: 20px;
        }
    }
    &__oompas-list-container {
        display: flex;
        flex-wrap: wrap;
    }
}