.oompa-container {
    margin: 10px;
    text-decoration: none;
    color: black;
    &__image{
        width: 430px;
        height: 290px;
    }
    &__name {
        font-weight: bolder;
        font-size: large;
    }
}

.oompa-container:hover {
    color: blue;
}