.header-container {
    display: flex;
    background-color: #e5e5e5;
    padding: 3px;
    text-decoration: none;
    color: black;
    &__logo {
        height: 40px;
        width: 50px;
        margin-left: 20px;
    }
    &__title {
        margin-left: 15px;
        font-weight: bolder;
    }
}