.oompa-detail-container {
    display: flex;
    margin: 40px;
    &__image{
        width: 600px;
        height: 400px;
    }
}
.oompa-detail{
    &-info{
        margin-left: 10px;
        &__subinfo{
            font-size: 12px;
            color: grey;
        }
    }
}